body {

     /* uigradients.com */
     background: #2980B9;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
     text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: larger;
}

button {

    height:200px;
    width: 200px;
    border-radius: 50px;
    background-color: #2980B9;
    color: whitesmoke;
    font-size: larger;
    font-weight: 100px;

}

button:hover {
    cursor: pointer;
}